texto = #4F4F4F
rojo = #D22121
a
	color texto
	padding 0.5em
	text-decoration none
body
	color texto
	font-family Helvetica
	font-size 16px
header
	position relative
ul
	text-decoration none
li
	display inline-block
nav
	display inline-block
	margin 1%
	position absolute
.boton
	color white
	background-color rojo
.cajas
	display inline-block
	background-color texto
	height 70%
	margin 0 0 0 2%
	width 20%
.contenedor
	width 100%
	display block
	position relative
.contCajas
	margin 0 0 0 15%
	height 70%
	width 100%
.fondo
	display inline-block
	postion absolute
	width 100%
	z-index 2
.logo
	border-right 2px solid rojo
	display inline-block
	max-width 150px
	min-width 50px
.contenido
	background-color white
	border-top 2px solid rojo
	height 50%
	margin -5% 0 0 10%
	padding 0.5em
	position absolute
	width 80%
	z-index 1
